<a href="https://colab.research.google.com/github/Shwetajoshi009/ML-Classification/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **INDUSTRIAL SAFETY AND HEALTH ANALYTICS**

# 1. LOOKING AT THE DATASET

**Source**:  
The database comes from one of the biggest industry in Brazil and in the world. It is an urgent need for industries/companies around the globe to understand why employees still suffer some injuries/accidents in plants. Sometimes they also die in such environment.

**About the dataset**:  
This The database is basically records of accidents from 12 different plants in 03 different countries which every line in the data is an occurrence of an accident.

**Columns description**:


*   *Data*: timestamp or time/date information
*   *Countries*: which country the accident occurred (anonymised)
*   *Local*: the city where the manufacturing plant is located (anonymised)

*   *Industry sector*: which sector the plant belongs to

*   *Accident level*: from I to VI, it registers how severe was the accident (I means not severe but VI means very severe)
* *Potential Accident Level*: Depending on the Accident Level, the database also registers how severe the accident could have been (due to other factors involved in the accident)
*   *Genre*: if the person is male of female
*   Employee or Third Party: if the injured person is an employee or a third party
*   *Critical Risk*: some description of the risk involved in the accident
*   *Description*: Detailed description of how the accident happened.






Link to download the dataset:  
https://www.kaggle.com/ihmstefanini/industrial-safety-and-health-analytics-database

# 2. IMPORTING DEPENDENCIES

In [ ]:
import numpy as np
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
#%matplotlib inline
import time
import warnings

In [ ]:
# suppress display of warnings
warnings.filterwarnings('ignore')

# display all dataframe columns
pd.options.display.max_columns = None

# to set the limit to 3 decimals
pd.options.display.float_format = '{:.7f}'.format

# display all dataframe rows
pd.options.display.max_rows = None

In [23]:
#for NLP pre processing

!pip install contractions
import contractions

Collecting contractions
  Downloading contractions-0.1.68-py2.py3-none-any.whl (8.1 kB)
Collecting textsearch>=0.0.21
  Downloading textsearch-0.0.21-py2.py3-none-any.whl (7.5 kB)
Collecting anyascii
  Downloading anyascii-0.3.0-py3-none-any.whl (284 kB)
     |████████████████████████████████| 284 kB 4.8 MB/s
Collecting pyahocorasick
  Downloading pyahocorasick-1.4.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (106 kB)
     |████████████████████████████████| 106 kB 50.8 MB/s
Installing collected packages: pyahocorasick, anyascii, textsearch, contractions
Successfully installed anyascii-0.3.0 contractions-0.1.68 pyahocorasick-1.4.4 textsearch-0.0.21

# 3.DATA COLLECTION (?)

In [ ]:
data=pd.read_csv('/content/sample_data/data.csv')
data.head()

,Unnamed: 0,Data,Countries,Local,Industry Sector,Accident Level,Potential Accident Level,Genre,Employee or Third Party,Critical Risk,Description
0,0,2016-01-01 00:00:00,Country_01,Local_01,Mining,I,IV,Male,Third Party,Pressed,While removing the drill rod of the Jumbo 08 f...
1,1,2016-01-02 00:00:00,Country_02,Local_02,Mining,I,IV,Male,Employee,Pressurized Systems,During the activation of a sodium sulphide pum...
2,2,2016-01-06 00:00:00,Country_01,Local_03,Mining,I,III,Male,Third Party (Remote),Manual Tools,In the sub-station MILPO located at level +170...
3,3,2016-01-08 00:00:00,Country_01,Local_04,Mining,I,I,Male,Third Party,Others,Being 9:45 am. approximately in the Nv. 1880 C...
4,4,2016-01-10 00:00:00,Country_01,Local_04,Mining,IV,IV,Male,Third Party,Others,Approximately at 11:45 a.m. in circumstances t...

In [ ]:
#summary of the dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                425 non-null    int64
 1   Data                      425 non-null    object
 2   Countries                 425 non-null    object
 3   Local                     425 non-null    object
 4   Industry Sector           425 non-null    object
 5   Accident Level            425 non-null    object
 6   Potential Accident Level  425 non-null    object
 7   Genre                     425 non-null    object
 8   Employee or Third Party   425 non-null    object
 9   Critical Risk             425 non-null    object
 10  Description               425 non-null    object
dtypes: int64(1), object(10)
memory usage: 36.6+ KB

In [ ]:
#Column names
data.columns

Index(['Unnamed: 0', 'Data', 'Countries', 'Local', 'Industry Sector',
       'Accident Level', 'Potential Accident Level', 'Genre',
       'Employee or Third Party', 'Critical Risk', 'Description'],
      dtype='object')

* There are **425** rows and 11 columns  
* the first column can be removed

# 4. DATA CLEANING

* Remove 'Unnamed 0' column
* Rename columns
* Check for duplicates
* Check for Null values 
* Check for outliers

In [ ]:
#Remove 'Unnamed: 0'
data.drop('Unnamed: 0', axis=1, inplace=True)

#Rename columns
data.rename(columns={
   'Data':'Date',
   'Countries':'Country',
   'Genre':'Gender',
   'Employee or Third Party':'Employee type'}, inplace=True)

data.head(2)

,Date,Country,Local,Industry Sector,Accident Level,Potential Accident Level,Gender,Employee type,Critical Risk,Description
0,2016-01-01 00:00:00,Country_01,Local_01,Mining,I,IV,Male,Third Party,Pressed,While removing the drill rod of the Jumbo 08 f...
1,2016-01-02 00:00:00,Country_02,Local_02,Mining,I,IV,Male,Employee,Pressurized Systems,During the activation of a sodium sulphide pum...

In [ ]:
#Check for duplicates
data.duplicated().sum()

7

There are 7 duplicate rows which have to be removed

In [ ]:
#drop duplicates
data.drop_duplicates(inplace=True)
data.shape

(418, 10)

In [ ]:
#check for null values
data.isnull().sum()

Date                        0
Country                     0
Local                       0
Industry Sector             0
Accident Level              0
Potential Accident Level    0
Gender                      0
Employee type               0
Critical Risk               0
Description                 0
dtype: int64

There are no missing/null values in the data

In [ ]:
#Checking for outliers in categorical data
# Check unique values of all columns except 'Description' and 'Date' column

for x in data.columns:
    if x != 'Description' and x != 'Date' and x != 'Critical Risk':
      print('--'*30); print(f'Unique values of "{x}" column'); print('--'*30)
      print(data[x].unique())
      print('\n')

------------------------------------------------------------
Unique values of "Country" column
------------------------------------------------------------
['Country_01' 'Country_02' 'Country_03']


------------------------------------------------------------
Unique values of "Local" column
------------------------------------------------------------
['Local_01' 'Local_02' 'Local_03' 'Local_04' 'Local_05' 'Local_06'
 'Local_07' 'Local_08' 'Local_10' 'Local_09' 'Local_11' 'Local_12']


------------------------------------------------------------
Unique values of "Industry Sector" column
------------------------------------------------------------
['Mining' 'Metals' 'Others']


------------------------------------------------------------
Unique values of "Accident Level" column
------------------------------------------------------------
['I' 'IV' 'III' 'II' 'V']


------------------------------------------------------------
Unique values of "Potential Accident Level" column
------------------------------------------------------------
['IV' 'III' 'I' 'II' 'V' 'VI']


------------------------------------------------------------
Unique values of "Gender" column
------------------------------------------------------------
['Male' 'Female']


------------------------------------------------------------
Unique values of "Employee type" column
------------------------------------------------------------
['Third Party' 'Employee' 'Third Party (Remote)']

Going through the unique entries in each columns, we find that there are no outliers.

In [ ]:
data.shape

(418, 10)

Output after Data Cleaning: 418 rows and 10 columns

##Soumya

In [ ]:
industry_df['Date'] = pd.to_datetime(industry_df['Date'])

industry_df['Year'] = industry_df.Date.apply(lambda x : x.year)
industry_df['Month'] = industry_df.Date.apply(lambda x : x.month)
industry_df['Day'] = industry_df.Date.apply(lambda x : x.day)
industry_df['Weekday'] = industry_df.Date.apply(lambda x : x.day_name())
industry_df['WeekofYear'] = industry_df.Date.apply(lambda x : x.weekofyear)

industry_df.head()

###NLP ANALYSIS

###Shweta

#NLP PRE-PROCESSING  

Pre processing the textual data.
It includes the following steps:
1. Expand contractions
2. Lower case
3. Punctuations
4. Stopwords (nltk)
5. Stem and lemmatization
7. Tokenisation

In [ ]:
text_data=data['Description']
print('A typical description entry looks like this:\n')
text_data[1]

A typical description entry looks like this:

'During the activation of a sodium sulphide pump, the piping was uncoupled and the sulfide solution was designed in the area to reach the maid. Immediately she made use of the emergency shower and was directed to the ambulatory doctor and later to the hospital. Note: of sulphide solution = 48 grams / liter.'

In [26]:
#expanding contractions
def replace_contractions(description):
  cleaned=[]
  for word in str(description).split():
    cleaned.append(contractions.fix(word))
  return ' '.join(cleaned)